$green: #8cdba6;
$red: #ff635e;
$blue: #00abfa;
$font-body: Helvetica, Arial, sans-serif;

body {
  font-family: $font-body;
}

.recycling-map {

  padding: 20px;

  &__header {
    h1 {
      font-family: $font-body;
      font-weight: 300;
    }
  }

  &__main {

  }

  &__leaflet-wrapper {
    position: relative;

    #recycling-map {
      height: 600px;
    }

    .leaflet-map {
      .segment {
          fill: transparent;
          stroke: black;
          stroke-width: 6;
      }
      .segment--clothes {
          stroke: $red;
      }
      .segment--glass {
          stroke: $green;
      }
      .segment--paper {
          stroke: $blue;
      }
    }
  }

  &__legend {

    z-index: 1000;  // leaflet
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    background-color: white;
    background-clip: padding-box;
    padding: 10px;
    text-align: right;

    h3 {
      margin: 0 0 10px;
    }

    &-list {

      margin: 0;
      padding: 0;
      list-style: none;

    }

    &-item {

      font-size: .8em;
      line-height: 1.5em;

      span {
        display: inline-block;
        width: 10px;
        height: 10px;
      }

      &--glass span {
          background-color: $green;
      }

      &--clothes span {
          background-color: $red;
      }

      &--paper span {
          background-color: $blue;
      }

    }

  }

}
