$green: #8cdba6;
$red: #ff635e;
$blue: #00abfa;
$clothes-color: $red;
$glass-color: $green;
$paper-color: $blue;

$font-body: Helvetica, Arial, sans-serif;

body {
  font-family: $font-body;
}

.recycling-map {

  padding: 20px;

  &__header {
    h1 {
      font-family: $font-body;
      font-weight: 300;
    }
  }

  &__main {

  }

  &__leaflet-wrapper {
    position: relative;

    #recycling-map {
      height: 600px;
    }

  }

  &__legend {

    z-index: 1000;  // leaflet
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    background-color: white;
    background-clip: padding-box;
    padding: 10px;
    text-align: right;

    h3 {
      margin: 0 0 10px;
    }

    &-list {

      margin: 0;
      padding: 0;
      list-style: none;

    }

    &-item {

      font-size: .8em;
      line-height: 1.5em;

      span {
        display: inline-block;
        width: 10px;
        height: 10px;
      }

      &--glass span {
          background-color: $glass-color;
      }

      &--clothes span {
          background-color: $clothes-color;
      }

      &--paper span {
          background-color: $paper-color;
      }

    }

  }

  .segmented-circle-icon {
    .segment {
        fill: transparent;
        stroke: black;
        stroke-width: 6;
    }
    .segment--clothes {
        stroke: $clothes-color;
    }
    .segment--glass {
        stroke: $glass-color;
    }
    .segment--paper {
        stroke: $paper-color;
    }
  }

  .segmented-circle-icon.segmented-circle-icon--1-segments {
    .segment {
        fill: transparent;
        stroke: transparent;
        stroke-width: 0;
    }
    .segment--clothes {
        fill: $clothes-color;
    }
    .segment--glass {
        fill: $glass-color;
    }
    .segment--paper {
        fill: $paper-color;
    }
  }

}
