$green:  #8cdba6;
$red:    #ff635e;
$blue:   #00abfa;
$clothes-color: $red;
$glass-color:   $green;
$paper-color:   $blue;

$font-body: Helvetica, Arial, sans-serif;

$header-height: 4rem;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100vh;
}

html {
  overflow: hidden;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-body;
  background-color: #CDCDCD;
}

.recycling-map {

  &__header {
    height: $header-height;
    padding: 1rem;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    h1 {
      margin-top: 0;
      font-family: $font-body;
      font-size: 1rem;
      font-weight: 300;
    }
    .tagline {
      font-style: italic;
      font-weight: normal;
    }
  }

  &__main {
    height: calc(100% - #{$header-height});
  }

  &__leaflet-wrapper {
    position: relative;
  }
  &__leaflet-wrapper,
  .leaflet-map {
    height: 100vh;
  }

  .legend {
    width: 100%;
    padding: 0.625rem 1rem;
    position: absolute;
    top: 0;
    z-index: 1000;  // leaflet
    background-color: white;
    background-clip: padding-box;
    font-size: .75em;

    &__label,
    &__list,
    &__item {
      display: inline-block;
    }

    &__label {}

    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__item {
      display: inline-block;
      margin-left: 0.75rem;
      line-height: 1.5;

      .bubble {
        display: inline-block;
        width: 0.8rem;
        height: 0.8rem;
        margin-right: 0.2rem;
        border-radius: 50%;
        position: relative;
        top: 2px;
      }

      &--glass .bubble {
          background-color: $glass-color;
      }

      &--clothes .bubble {
          background-color: $clothes-color;
      }

      &--paper .bubble {
          background-color: $paper-color;
      }

    }

  }

  .segmented-circle-icon {
    .segment {
        fill: transparent;
        stroke: black;
        stroke-width: 6;
    }
    .segment--clothes {
        stroke: $clothes-color;
    }
    .segment--glass {
        stroke: $glass-color;
    }
    .segment--paper {
        stroke: $paper-color;
    }
  }

  .segmented-circle-icon.segmented-circle-icon--1-segments {
    .segment {
        fill: transparent;
        stroke: transparent;
        stroke-width: 0;
    }
    .segment--clothes {
        fill: $clothes-color;
    }
    .segment--glass {
        fill: $glass-color;
    }
    .segment--paper {
        fill: $paper-color;
    }
  }

  @media screen and (min-width: 500px) {
    &__header {
      h1 {
        font-size: 1.5rem;
      }
    }
    .legend {
      width: auto;
      top: 0;
      right: 0;
      text-align: right;
      &__label,
      &__list,
      &__item {
        display: block;
      }
      &__label {
        margin-bottom: 0.5rem;
        text-transform: uppercase;
      }
      &__item {
        line-height: 1.6;
        .bubble {
          float: right;
          margin-left: 0.5rem;
          margin-right: 0;
        }
      }
    }
  }


}
